<!DOCTYPE html>
<html lang="ru">
<head>

<link rel="stylesheet" href="style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Расписание</title>

</head>

<body>

<div class="main-page-warp">
<div class="group-name">Рассписание для группы "ИСпПК-21-1"</div>
	<div class="week-name"> Нечётная </div>
	<div class="main-page">
		<table>
			<tbody>
			<tr>
				<!-- Понедельник -->
				<td>
					<div id="day-1-week-1" class="day">
						<div class="day-name">Понедельник</div>
						<table>
							<tr>
								<td>
									<div id="lesson 1-1-1" class="lesson">
										<div class="title">1. Английский</div>
										практика
										<div class="teacher">Ческидова</div>
										<div class="aud">У-209</div>
										<div class="time">08:30-10:00</div>
									</div>
									<div id="lesson 2-1-1" class="lesson">
										<div class="title">2. Английский</div>
										практика
										<div class="teacher">Ческидова</div>
										<div class="aud">У-209</div>
										<div class="time">10:10-11:40</div>


									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>

				<!-- Четверг -->
				<td>
					<div id="day-4-week-1" class="day">
						<div class="day-name">Четверг</div>
						<table>
							<tr>
								<td>
									<div id="lesson 1-4-1" class="lesson">
										<div class="title">1. Английский</div>
										практика
										<div class="teacher">Ческидова</div>
										<div class="aud">У-209</div>
										<div class="time">08:30-10:00</div>
									</div>
									<div id="lesson 2-4-1" class="lesson">
										<div class="title">2. Английский</div>
										практика
										<div class="teacher">Ческидова </div>
										<div class="aud">У-209</div>
										<div class="time">08:30-10:00</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>

				<!-- Вторник -->
				<tr>
				<td> <!-- ХЗ ЧТО ТУТ ПИСАТЬ class=" "-->
					<div id="day-2-week-1" class="day">
						<div class="day-name">Вторник</div>
						<table>
							<tbody>
								<!-- Фигня ниже обозначает что нет пары, бесполезная вещь... -->
								<tr class="empty"></tr>
								<tr>
									<td id="lesson-2-3-1">

										<div class="lesson-warp"> <!--class="less-warp"?-->
											<div class="lesson-group-1">

											</div>
											<div class="lesson-group-2">

											</div>
										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>

				<!-- Пятница -->
				<td ><!-- ХЗ ЧТО ТУТ ПИСАТЬ class=" "--> 
					<div id="day-5-week-1" class="day">
						<div class="day-name">Пятница</div>
						<table> 
							<tbody>
								<!-- Фигня ниже обозначает что нет пары, бесполезная вещь... -->
								<tr class="empty"></tr>
								<tr>
									<td id="lesson-2-4-1">
									
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>

				<!-- Среда -->
				<tr>
				<td ><!-- ХЗ ЧТО ТУТ ПИСАТЬ class=" "-->
					<div id="day-3-week-1" class="day">
						<div class="day-name">Среда</div>
						<table> 
							<tbody>
								<!-- Фигня ниже обозначает что нет пары, бесполезная вещь... -->
								<tr class="empty"></tr>
								<tr>
									<td id="lesson-2-5-1">
										
										<div class="lesson-warp"> <!--class="less-warp"?-->
											<div class="lesson-group-1">
											
											</div>
											<div class="lesson-group-2">
											
											</div>
										</div>
										
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				
				<td ><!-- ХЗ ЧТО ТУТ ПИСАТЬ class=" "--> 
					<div id="day-6-week-1" class="day">
						<div class="day-name">Суббота</div>
						<table> 
							<tbody>
								<!-- Фигня ниже обозначает что нет пары, бесполезная вещь... -->
								<tr class="empty"></tr>
								<tr>
									<td id="lesson-2-6-1">
									
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				
			</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>
