<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор Группы</title>
</head>
<body>
<form>
    <label for="group-number">Номер группы:</label><br>
    <input type="text" id="group-number" name="group-number"><br>
    <label for="subgroup">Подгруппа:</label><br>
    <select id="subgroup" name="subgroup">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
</form>
</body>
</html>
